
*{
    box-sizing: border-box;
}

body{
    display: grid;
    background: #181719;
    color: white;
    grid-template-rows: 2fr 7fr 1fr;
    margin: 0;
    height: 100vh;
}

.navigation{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color:white;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}
.navigation__items{
    display: inline-block;
    margin: 0;
    padding: 0.5rem;

}
.navigation__item{
    list-style: none;
    display: inline-block;

}
.navigation__logo{
    font-family: 'Crimson Pro', serif;
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    border: 1px solid white;
    padding: 1rem;
    height: 3rem;
}
.navigation__item-link{
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    padding: 0 1.5rem;

}
.navigation__item-home{
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    padding: 0 1.5rem;
}
.main{
    display: flex;
    margin: 0 3rem;
}

.company{
    width: 40%;
    padding: 0 3rem 0 0 ;
}
.company__name{
    font-family: 'Lora', serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 0 0 3rem 0;
}
.company__description{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 3rem 0;

}
.company__read-more{
    display: flex;
}
.company__read-more-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
}
.company__read-more-icon{
    width: 2rem;
    height: 2rem;
}
.portfolio {
    width: 60%;
    position: relative;

}
.portfolio__image{
    width: 100%;
    background: url("images/kitchen-living-room-4043091_1920.jpg");
    height: 80%;
    top: 0;
    background-size: cover;
    position: absolute;
    z-index: 0;
    padding: 1rem;
}
.portfolio__author{
    background-color: #181719;
    z-index: 10;
    position: absolute;
    width: 50%;
    bottom: 5%;
    right: 10%;
    padding: 1rem;
}

.portfolio__author__information{
    display: inline-block;
    position: absolute;
    top:15%;
    padding: 0 1rem;

}

.portfolio__author__selfie{
    background: url("images/beautiful-1274056_1920.jpg");
    background-size: cover;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    padding: 1rem;
}
.portfolio__author__information-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;

}
.portfolio__author__information-company-name{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 0;
    color: #828282;
}
.portfolio__image-creation-date{
    font-family: 'Lora', serif;
    font-weight: 700;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #A9A9A9;
    text-align: center;
    align-self: end;
    margin: 0 0 3rem 0;
}

@media screen and (max-width: 900px) {
    body{
        grid-template-rows:  1fr 7fr 1fr;
    }
    .main{
        display: block;
        margin: 0 3rem;
    }
    .company{
        width: 100%;
    }
    .portfolio{
        width: 100%;
        height: 80%;
    }
    .portfolio__author{
        width: 80%;
    }
    .footer{
        margin: 0 0 2rem 0;
    }
    .footer::before{
        content: ' ';
        background-color: #A9A9A9;
        height: 3px;
        width: 60%;
        position: absolute;
        bottom: 5%;
        left: 20%;

    }

}
